*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(240, 233, 233)
}


.margin-width{
    width: 70%;
    margin: auto;
}

.bg-white {
    background-color: white;
}


.bg-blue {
    background-color: rgb(9, 169, 237)
}

button{
    border-width: 1px;
    padding: 4px 4px;
    border-radius: 4px;
    border-style: solid;
    border-color: gray
}

#logo-padding{
    padding: 9px 0px 4px 18px;
    margin-bottom: 20px;
}

.box-margin-padding{
    padding: 8px 40px;
    margin-top: 3px;

}

.checkmark-style{
    width: 20px;
    height: 20px;
    border: 1px solid green;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: green;
    border-radius: 50%;
    text-align: center;
}

.paragraph-line-height{
    line-height: 20px;
}



